body h1{
  display: inline-block;
  text-align: center;
  font-weight:bold;
}
.row{
  display: inline-block;
  background: linear-gradient(to right,#AFDFE4,#5686BF);
  width:100vw;
}

#aboutme{
  background-color:#d3d4cc;
  text-align: center;
  /* border-style: dotted; */
}
#resume{
  background-color:#f8ebdb;
  text-align: center;
}
#graphic{
  background-color:#ead0d1;
  text-align: center;
  /* border-style: dotted; */
}

nav.navbar{
  padding:0;
  margin:0;
  width:100vw;

}
header.container{
  align-items: center;
  margin:0;
  padding:0;
  width:100vw;

}

section.jumbotron{
  color:white;
  background-color: #a27e7e;
  height:auto;
}

#contact{
  font-weight: bold;
}

footer{
  padding:0 20px 0 20px;
  background: linear-gradient(to right,#AFDFE4,#5686BF);
  /* display:flex;
  justify-content:center; */

}

.msg p{
  font-weight: bold;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .jumbotron{
    background: url('image/welcome.jpg') no-repeat center;
    background-size:  auto;
  }
  /* #aboutme{
    background-color:#d3d4cc;
    /* border-style: dotted; */
    /* display:inline-block;
    text-align: center;
  }
  #resume{
    background-color:#f8ebdb;
    display:inline-block;
    text-align: center;
  } */
  /* #graphic{
    background-color:#ead0d1;
    /* border-style: dotted; */
    /* text-align: center;
  } */

@media (min-width: 1200px) {
  body nav{
    background-size: cover;

  }
  .jumbotron{
  background: url('image/welcome.jpg') no-repeat center;
  background-size:auto;
}

  /* width:50%; */
}
/* footer form{
  display:inline-block;

} */
}
