/* GENERAL APPEARANCE */
html, body, h1, form, fieldset, legend, ol, li {
	margin: 0;
	padding: 0;
}



body {
	background:rgb(255, 255, 128,.5);;
	color: #111111;
	font-family: 'Montserrat', serif;
	padding: .5%;
	text-align: center;
}

form{
	background: rgba(255, 255, 128);
	-moz-border-radius: 2%;
	-webkit-border-radius: 2%;
	border-radius: 2%;
	padding: 2%;
	width: 50%;
	text-align:left;
}

#promotion{
	border:0
	margin:auto;
	text-align: justify;
	display:inline-block;
}

div.legend{
	font-family: 'Montserrat', serif;
	font-size:100%;
}
/* Style the list items*/
form ol li {
	background: #b9cf6a;
	background: rgba(255,255,255,.3);
	border-color: #e3ebc3;
	border-color: rgba(255,255,255,.6);
	border-style: solid;
	border-width: .5%;
	-moz-border-radius: 2%;
	-webkit-border-radius: 2%;
	border-radius: 2%;
	list-style: none;
	padding: 1% 2%;
	margin-bottom: .5%;
}

form ol ol li {
	background: none;
	border: none;
	float: left;
	/*
	The only ol within ol in this form is credit card
	float */
}



/*Add a counter to the elements */
form{
	counter-reset: fieldsets;
	margin-right: auto;
	margin-left: auto;

}

form > fieldset > legend:before {
	content: "Step " counter(fieldsets) ": ";
	counter-increment: fieldsets;
}
